/* =========================
   ROOT VARIABLES
========================= */
:root {
    --default-font: "Changa", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-header-color: #2E2E2E;
    --green-color: #10513D;
    --yellow-color: #FDC20C;
    --grey-color: #565656;
    --grey-color-medium: #D9D9D9;
    --grey-color-light: #E6E6E6;
    --white-color: #ffffff;
    --black-color: #000;
    --text-color-size: #585858;

    scroll-behavior: smooth;
}

/* =========================
   RESET / BASE
========================= */
*,
*::before,
*::after {
    box-sizing: border-box;
}
h4{
    padding: 0 !important;
}
html,
body {
    overflow-x: hidden;
}

body {
    font-family: var(--default-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color);
    background-color: #f9f9f9;
}

/* =========================
   FONT CONFIG (CHANGA)
========================= */
.font-changa {
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-header{
    color: var(--font-header-color);
}
/* =========================
   FONT SIZES (UTILS)
========================= */
.font-10 { font-size: 0.625rem; }
.font-12 { font-size: 0.75rem; }
.font-14 { font-size: 0.875rem; }
.font-15 { font-size: 0.938rem; }
.font-16 { font-size: 1rem; }
.font-17 { font-size: 1.063rem; }
.font-18 { font-size: 1.125rem; }
.font-20 { font-size: 1.25rem; }
.font-24 { font-size: 1.5rem; }
.font-25 { font-size: 1.563rem; }
.font-28 { font-size: 1.75rem; }
.font-30 { font-size: 1.875rem; }
.font-32 { font-size: 2rem; }
.font-40 {
    font-size: 2.5rem;
    line-height: 1.2;
}
.font-44 { font-size: 2.75rem; }
.font-48 { font-size: 3rem; }
.font-50 { font-size: 3.125rem; }

.font-light   { font-weight: 300; }
.font-regular { font-weight: 400; }
.font-medium  { font-weight: 500; }
.font-semibold{ font-weight: 600; }
.font-bold    { font-weight: 700; }

.bg-yellow{
    background: var(--yellow-color);
}
.color-yellow{
    color: var(--yellow-color);
}
.bg-green{
    background: var(--green-color);
}
.color-green{
    color: var(--green-color);
}
.bg-grey-light{
    background: var(--grey-color-light);
}
.bg-grey-medium{
    background: var(--grey-color-medium);
}
.color-grey{
    color: var(--grey-color);
}
.scroll-top {
     position: fixed;
     visibility: hidden;
     opacity: 0;
     right: 15px;
     bottom: -15px;
     z-index: 99999;
     background-color: var(--yellow-color);
     width: 44px;
     height: 44px;
     border-radius: 50px;
     transition: .4s
 }

 .scroll-top i {
     font-size: 24px;
     color: var(--grey-color-light);
     line-height: 0
 }
  .scroll-top:hover {
     background-color: color-mix(in srgb, var(--yellow-color), transparent 20%);
     color: var(--white-color)
 }

 .scroll-top.active {
     visibility: visible;
     opacity: 1;
     bottom: 15px
 }
 .border-btn-footer{
    border: 1px solid var(--white-color) !important;
 }
 .bt-hover:hover{
    color:  var(--green-color) !important;
 }
/* =========================
   HEADER
========================= */
.btn-header.btn:hover{
    border: 1px solid var(--black-color);
}

/* =========================
   HERO
========================= */

.hero {
  position: relative;
  width: 100%;
}

.hero-slide {
  position: relative;
  min-height: 90vh;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 3;
  min-height: 90vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.hero-subtitle {
  margin-bottom: 12px;
  opacity: 0.9;
}

.hero-title {
  line-height: 1.2;
  margin-bottom: 30px;
}

.hero-actions {
  gap: 15px;
}

.btn-hero.btn:hover {
    border: 1px solid var(--white-color);
}
.btn-hero.btn:hover svg, .btn-product svg, #shareBtn svg{
    filter: brightness(10) saturate(0.1) contrast(10);
}
.btn-outline {
  border: 2px solid var(--yellow-color);
  color: var(--yellow-color);
  padding: 12px 28px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
}
.main-swiper .swiper-pagination-bullet{
    height: 17px;
    width: 17px;
}
.main-swiper .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.main-swiper .swiper-pagination-bullet-active {
  background: var(--yellow-color);
}

/* =========================
   TOPIC
========================= */
.topic-item img {
  transition: transform .3s ease, box-shadow .3s ease;
}
.topic-item img{
    width: 193px;
    height: 113px;
    object-fit: cover;
} 
.topic-item:hover img {
  transform: translateY(-6px);
}

/* =========================
   ABOUT
========================= */
.banner-inner{
    background-image: var(--banner-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    height: 221px;
    width: 100%;
}
.banner-inner::after{
    content: '';
    background: rgb(0 0 0 / 66%);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.banner-inner span::after{
    content: '';
    height: 1px;
    background: #FFF;
    width: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
.about-image img {
    object-fit: cover;
    height: 100%;
}
.about .description p, .about li{
    font-size: 1rem;
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: #565656;
}
.about .description ul{
    padding: 0 !important;
}
.about li{
    font-weight: 600;
    position: relative;
    padding-left: 22px;
    list-style: none;
    margin-bottom: 15px;
}
.about li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 14px;
    height: 14px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    background-image: url('../images/pata.svg');
}
.mb-0.color-grey.font-changa.font-16.font-semibold.col-11.ms-3{
    line-height: 23px;
}
.firula-about{
    z-index: -1;
    top: -50px;
}
.about-subtitle{
    border-bottom: 1px solid var(--green-color);
}
.firula-count{
    width: 175px;
    top: -4px !important;
    left: 0px;
}
.stat-number{
    color: rgb(16 81 61 / 50%);
}

/* =========================
   STEP-TO-STEP
========================= */
.left-content .image{
    margin-right: -110px;
}
.left-content .step-image{
    max-width: 687px;
    height: 100%;
    object-fit: cover;
}
.left-content .icon-step{
    bottom: 115px;
    object-fit: cover;
    max-width: 73px;
    z-index: -1;
    left: -7px;
}
.left-content p{
    color: #F9F9F9;
    line-height: 33.6px;
}
.list-step::after{
    content: '';
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    height: 85%;
    border-left: 2px dashed #CCCCCC;
    z-index: -1;
}
.step-actions .btn, .btn-about .btn, .step-actions .btn{
    border: 1px solid var(--green-color) !important;
}
.step-actions .btn:hover, .btn-about .btn:hover{
    color: var(--green-color) !important;
}
.step-actions svg , .btn-about svg, .to-back svg{
    filter: brightness(10) saturate(0.1) contrast(10);
}
.step-actions .btn:hover svg, .btn-about .btn:hover svg, .btn-product:hover svg, #shareBtn:hover svg, .to-back:hover svg {
    filter: inherit;
}
.about-image img {
    object-fit: cover;
    height: 100%;
}
.list-step p, .list-step li{
    font-size: 1rem;
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: #565656;
}
.list-step ul{
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 13px;
    flex-direction: column;
}
.list-step li{
    font-weight: 600;
    position: relative;
    padding-left: 55px;
    list-style: none;
    margin-bottom: 15px;
}
.list-step li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    background-image: url('../images/ok.svg');
}
/* =========================
   PRODUCT
========================= */

.category-product .card img{
    max-width: 160px;
    object-fit: cover;
}
.category-product .card{
    min-height: 195px;
}

/* =========================
   CATEGORY PRODUCT
========================= */

.products-section {
  background: #f9f9f9;
}

.btn-filter {
  border-radius: 25px;
  background: transparent;
  color: var(--green-color);
}

.btn-filter.active {
    background: var(--green-color);
    color: #fff;
}

.product-card {
    border-radius: 16px;
    text-align: center;
    height: 100%;
    transition: .3s;
}
.product-card .image{
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--green-color) !important;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.product-card img {
    width: 100%;
    height: 270px;
    object-fit: contain;
}

.product-card:hover {
    transform: translateY(-5px);
}

.btn-view {
    background: #F9F9F9;
    color: var(--green-color);
    border-radius: 25px;
    padding: 6px 16px;
    margin-bottom: 15px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.product-card .image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(16 81 61 / 67%);
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
    opacity: 0;
    z-index: 1;
}
.product-card:hover .image:after{
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
    opacity: 1;
}
.product-card:hover .btn-view{
    background: #F9F9F9 !important;
    color: var(--green-color) !important;
    opacity: 1 !important;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
    z-index: 2;
}
.thumbs-width {
    height: 130px !important;
}
.gallery-top .swiper-slide{
    height: 360px;
}
.gallery-top .swiper-slide img{
    width: 220px;
    height: 100%;
    object-fit: contain;
}
.gallery-thumbs .swiper-slide img{
    object-fit: contain;
    aspect-ratio: 1/1;
}
.gallery-thumbs .swiper-slide {
    opacity: 0.5;
    cursor: pointer;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
    border: 2px solid var(--grey-color-light);
}
.btn-prod a{
    border: 1px solid var(--yellow-color) !important;
}
.navigation-swiper{
    position: absolute;
    left: 0;
    bottom: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 9;
}
.navigation-swiper .swiper-button-prev, .navigation-swiper .swiper-button-next{
    color: var(--green-color);
}
.navigation-swiper .swiper-button-prev:after,
.navigation-swiper .swiper-button-next:after{
    font-size: 35px;
    font-weight: bold;
}

.product-main img {
    max-height: 380px;
    margin: auto;
    display: block;
}

.product-thumbs img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
}

.product-thumbs .swiper-slide-thumb-active img {
    border-color: #10513D;
}

.product-description .description{
    border: 1px solid #10513D;
}
.product-description .desc-title:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #10513D;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 7px);
}
.product-main {
    width: 100%;
    height: 380px;
}

.product-main .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-main img {
    max-height: 100%;
    object-fit: contain;
}
.product-thumbs {
    height: 80px;
}

.product-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.5;
}

.product-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.btn-product{
    border: 1px solid var(--green-color) !important;
}
.btn-product:hover{
    color: var(--green-color) !important;
}
.firula-products{
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    object-fit: cover;
    width: 80px;
}
.about-subtitle.span-product{
    width: 43%;
}
/* =========================
   BLOG 
========================= */
#shareBtn {
    width: 171px;
}

.socialLinks {
    max-height: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.bg-whatsapp, .btn-twiter, .btn-facebook {
    width: 35px;
    height: 35px;
}

.bg-whatsapp, .bg-whatsapp.btn:hover {
    background: #25d366;
    transition: all 0.3s ease;
}

.btn-twiter, .btn-twiter.btn:hover {
    background: #1DA1F2;
    transition: all 0.3s ease;
}

.btn-facebook, .btn-facebook.btn:hover {
    background: #3b5998;
    transition: all 0.3s ease;
}

.bg-whatsapp.btn:hover, .btn-facebook.btn:hover, .btn-twiter.btn:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-list li {
    cursor: pointer;
    transition: 0.2s;
}

.filter-list li:hover {
    background: var(--grey-color-medium);
}

.filter-list li.active {
    color: var(--green-color);
}
.blog-subtitle{
    border-bottom: 1px solid var(--green-color);
}
.blog-subtitle{
    width: 61.5% !important;
}
.post-card {
  position: relative;
  height: 100%;
  border-radius: 18px;
  overflow: hidden;
}

.post-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 420px;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.post-card:hover img{
    transform: scale(1.06);
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.post-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(33 31 31 / 66%);
  z-index: 1;
}

.post-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}
.firula-blog{
    width: 150px;
}
.relacionados .image{
    width: 75px;
    height: 75px;
    overflow: hidden;
}
.relacionados img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.search-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.search-icon {
    cursor: pointer;
}

.search-input {
    width: 0;
    opacity: 0;
    margin-left: 0;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.search-wrapper.active .search-input {
    width: 300px;
    opacity: 1;
    margin-left: 10px;
}

/* =========================
   FAQ
========================= */

.faq-section {
  background: #f4f4f2;
}
.about-subtitle{
    width: 87%;
}
.btn-faq {
    border: 1px solid var(--green-color);
}

/* ACCORDION */
.accordion-item {
  border: none;
  border-radius: 12px;
  margin-bottom: 12px;
  overflow: hidden;
}

.accordion-button {
  background: #ffffff;
  font-weight: 500;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background: var(--green-color);
  color: #fff;
}

.accordion-body {
  background: var(--green-color);
  color: #eaeaea;
}

/* =========================
   DEPOIMENT
========================= */
.text.color-grey.font-changa.font-16.font-regular.text-start{
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    font-family: 400;
    color: var(--grey-color);
}
.testimonial-card {
    background: #fff;
    border-radius: 20px;
    padding: 40px 30px;
    height: 100%;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,.05);
    text-align: left;
    min-height: 320px;
}
.author{
    border-top: 1px solid #E9E9E9;
}
.testimonial-swiper .swiper-pagination-bullet{
    background: var(--green-color);
    opacity: 1;   
    padding: 4px;
    border: 1px solid transparent;
    width: 8px;
    position: relative;
}
.testimonial-swiper .swiper-pagination-bullet-active:after{
    content: '';
    height: 8px;
    width: 8px;
    background-color: var(--green-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}
.testimonial-swiper .swiper-pagination-bullet-active {
    background: #FFF;
    padding: 8px;
    border: 3px solid var(--yellow-color);
    width: 17px;
}

/* bullets base */
.swiper-pagination-blog .swiper-pagination-bullet {
    background: var(--green-color);
    opacity: 1;
    width: 8px;
    height: 8px;
    padding: 4px;
    border: 1px solid transparent;
    position: relative;
}

/* bullet ativo (externo) */
.swiper-pagination-blog .swiper-pagination-bullet-active {
    background: #fff;
    padding: 8px;
    border: 3px solid var(--yellow-color);
    width: 17px;
    height: 17px;
}

/* bolinha interna */
.swiper-pagination-blog .swiper-pagination-bullet-active::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--green-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* =========================
   MVW SECTION
========================= */

.mvw-section {
  position: relative;
  min-height: 680px;
  display: flex;
  background-image: url("../images/missao.png");
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: background-image 0.4s ease-in-out;
}
.mvw-cards{
    margin-bottom: 90px;
}
.mvw-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.mvw-section .container {
  position: relative;
  z-index: 2;
}

.mvw-card {
  cursor: pointer;
  transition: all 0.3s ease;
}

.mvw-card:hover,
.mvw-card.active {
  transform: translateY(-6px);
}
.mvw-card  .icon{
    width: 67px;
    height: 67px;
}

/* =========================
   TEAM
========================= */
.team-section {
  background: #fff;
}

.team-card {
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
  height: 416px;
  transition: transform .3s ease, box-shadow .3s ease;
}

.team-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.18);
}

.team-image {
  height: 100%;
  overflow: hidden;
}

.team-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-body {
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0px);
}

.btn-team {
  transition: background .3s ease;
}

.btn-team:hover {
  background: rgb(16 81 61 / 80%);
}

/* =========================
   FONT SIZES (UTILS)
========================= */

.video-section {
  width: 100%;
  background: #000;
}

.video-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  height: 543px;
}

.video-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Botão Play */
.video-play-btn {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 0, 0, 0.95);
  cursor: pointer;
  transition: transform .3s ease, box-shadow .3s ease;
}

.video-play-btn::before {
  content: '';
  position: absolute;
  left: 36px;
  top: 28px;
  width: 0;
  height: 0;
  border-left: 28px solid #fff;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

.video-play-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 12px rgba(255, 0, 0, 0.25);
}
#shareBtn{
    border: 1px solid var(--green-color);
}
#shareBtn:hover, .to-back:hover{
    color: var(--green-color) !important;
    background: transparent;
}
.to-back{
    border: 1px solid var(--green-color);
}

.list-service strong{
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2;
    color: var(--yellow-color);
}
.list-service ul{
    column-count: 2;
    column-gap: 30px; 
    width: 96%;
    margin: 0 auto;
}
.list-service ul li{
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--black-color)
}