@media (min-width: 992px) {
    .filter-box .filter-list {
        display: block !important;
    }
}
@media (max-width: 991.98px) {
    .filter-box .filter-list {
        display: none;
    }

    .filter-box.active .filter-list {
        display: block;
    }

    .filter-title {
        padding: 0 11px 0 25px;
    }

    /* efeito visual opcional */
    .filter-title::after {
        content: "\F282"; /* ícone bootstrap chevron-down */
        font-family: "Bootstrap-icons";
        margin-left: auto;
        margin-right: 12px;
        transition: transform .3s;
    }

    .filter-box.active .filter-title::after {
        transform: rotate(180deg);
    }
  .hero-title {
    font-size: 2rem;
  }

  .hero-actions {
    flex-direction: column-reverse;
  }
  .about {
    min-height: 500px;
  }
  .left-content .image{
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .video-play-btn {
    width: 70px;
    height: 70px;
    }

    .video-play-btn::before {
    left: 28px;
    top: 22px;
    border-left-width: 22px;
    border-top-width: 14px;
    border-bottom-width: 14px;
    }
  .mvw-section {
    padding: 60px 0;
  }

  .mvw-card {
    max-width: 100%;
  }
}
@media (max-width: 530px) {
    .list-service ul{
        column-count: 1;
    }
    .blog-content .col-6.col-md-6.col-lg-4{
        height: 320px;
        padding: 0px 5px 0px 5px;
    }
    .post-card img{
        min-height: inherit;
    }
    .team-card{
        height: 270px;
    }
    .product-card img{
        height: 140px;
    }
    .firula-about{
        left: 56px;
        top: -22px;
    }
    .about-subtitle, .blog-subtitle{
        width: 67% !important;
        margin: 0 auto;
        margin-right: 0;
    }
    .blog-subtitle{
        width: 73% !important;
    }
    .stat-number{
        font-size: 1.75rem;
    }
    .hero-content{
        align-items: baseline;
    }
    .hero-title, .about-title, .faq-title, .font-mobi{
        font-size: 1.75rem;
        text-align: center;
    }
    .hero-subtitle{
        display: block;
        text-align: center;
        width: 100%;
    }
    .hero-actions{
        flex-direction: column-reverse;
        align-items: center;
    }
    .btn-one{
        max-width: 160px;
    }
    .btn-two{
        max-width: 260px;
    }
    .about-subtitle.span-product{
        width: 62%;
    }
}
@media (max-width: 441px) {
    .mvw-cards{
        gap: 50px;
        height: 70vh;
        margin-bottom: 0;
    }
    .font-mobi-12{
        font-size: 0.75rem;
    }
    .left-content .step-image{
        max-width: 310px;
    }
    .topic-item img{
        width: 135px;
        height: 85px;
    }
    .blog-content .col-6.col-md-6.col-lg-4{
        height: 260px;
    }
    .blog-content .col-6.col-md-6.col-lg-4 h5{
        font-size: 0.938rem;
    }
    .blog-content .col-6.col-md-6.col-lg-4 p, 
    .blog-content .col-6.col-md-6.col-lg-4 span{
        font-size: 0.75rem;
        line-height: 17px;
    }

    .state-block h4{
        font-size: 1.125rem;
    }
    .team-body{
        bottom: 12px;
    }
    .team-body small{
        font-size: 0.75rem;
    }
    .team-body h6, .state-list li{
        font-size: 0.938rem;
    }
    .btn-team{
        font-size: 0.625rem;
        width: 30px !important;
        height: 30px !important;
    }
    .search-wrapper.active .search-input{
        width: 280px;
    }
    .hero-title{
        font-size: 24px;
    }

}
@media (max-width: 414px) {
    .team-card {
        height: 320px;
    }
    .product-card h6, .product-card p{
        font-size: 0.938rem;
    }
    .btn-filter{
        font-size: 0.75rem;
    }
    .hero-title{
        font-size: 1.25rem;
    }
    .hero-slide, .hero-content {
        min-height: 80vh;
        height: 80vh;
    }
    .btn-one, .btn-two{
        font-size: 0.75rem;
        padding: 3px 0 3px 0;
    }
    .btn-one svg, .btn-two svg{
        width: 10px;
    }
}

@media (max-width: 390px) {
    .post-overlay{
        padding: 12px;
    }
    .blog-content .col-6.col-md-6.col-lg-4{
        height: 260px;
        padding: 0px 5px 0px 5px;
    }
    .blog-content .col-6.col-md-6.col-lg-4 h5{
        font-size: 0.75rem;
    }
    .blog-content .col-6.col-md-6.col-lg-4 p, 
    .blog-content .col-6.col-md-6.col-lg-4 span{
        font-size: 0.625rem;
        line-height: 17px;
    }
}

