@media (max-width: 530px) {
    .list-service ul{
        column-count: 2;
    }
    .hero-content{
        align-items: center;
    }
    .hero-title, .about-title, .faq-title, .font-mobi{
        font-size: 1.75rem;
        text-align: center;
    }
    .hero-subtitle{
        display: block;
        text-align: center;
        width: 100%;
    }
    .hero-actions{
        flex-direction: column-reverse;
        align-items: center;
    }

    .logo-header{
        height: 50px;
    }
}
@media (max-width: 441px) {
    .font-24.title{
        font-size: 1.125rem;
    }
    .hero-title{
        font-size: 24px;
    }

}



